<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /amiapp/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /amiapp/index.html [L]
</IfModule>
