<!-- Navbar -->
<nav class="nav-extended blue-grey darken-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Formationkilo pour les professionnels</a>
      <ul class="left hide-on-med-and-down">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <!--li><a (click)="logOut()">Logout</a></li-->
      </ul>
    </div>
  </nav>
  
  <!-- Parallax Section -->
  <div class="row container"><br />
    <h3>Technologies: <br />
       
        1) PRISE en main: 
        ==>JWT/ Node.Js//MonngoDb// angular 18(approche moderne) et (approche traditionnelle) <br />
        2) 
        ==>Facile: Node.Js//FIREBASE// angular 18(approche moderne) et (approche traditionnelle) <br />
        3) 
        ==> professionnels:DOCKER// Node.Js//FIREBASE// angular 18(approche moderne) et (approche traditionnelle)</h3>
    <div>

  
  <!-- Scripts -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.parallax');
      M.Parallax.init(elems);
    });
  </script>
  
