<div class="form">
    <div class="form__container">
        <h1>Sign up</h1>
        <form [formGroup]="form" (ngSubmit)="signUp()">
            <!-- First Name -->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="names" placeholder="Enter your first name" />
                    <mat-error *ngIf="form.get('names')?.hasError('required') && form.get('names')?.touched">
                        First name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Last Name -->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName" placeholder="Enter your last name" />
                    <mat-error *ngIf="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched">
                        Last name is required
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Email -->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter your email" />
                    <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
                        Please enter a valid email
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Password -->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Enter your password" />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide" type="button">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>

            <!-- Submit Button -->
            <div>
                <button mat-flat-button color="accent" type="submit" [disabled]="form.invalid">Sign up</button>
            </div>
        </form>

        <hr />

        <!-- Social Sign-In -->
        <!--span class="small-text providers">Have Google or GitHub?</span-->
        <!-- Social Sign-In -->
        <div class="social-sign-in">
            <span class="small-text providers">Have Google or GitHub?</span>
            <div class="social-buttons">
                <button class="social-button google" type="button">
                    <!--img src="path-to-google-icon.svg" alt="Google" /-->
                    <img src="https://static.cdnlogo.com/logos/g/38/google-icon.svg" alt="Google" />

                    Sign in with Google
                </button>
                <button class="social-button github" type="button">
                    <!--img src="path-to-github-icon.svg" alt="GitHub" /-->
                    <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-512.png" alt="GitHub" />

                    Sign in with GitHub
                </button>
            </div>
        </div>



        <!-- Log in Redirect -->
        <span class="small-text log-in-redirect">
            Already have an account? 
        <a routerLink="/auth/login-in">Log-In </a>
        </span>
    </div>
</div>