<!-- Navigation Bar -->
<nav class="teal darken-2">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo"><i class="material-icons">school</i> AMI</a>
      <a href="#" data-target="mobile-menu" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/about">À propos</a></li>
        <li><a routerLink="/memoire">Sujets de Mémoire</a></li>
        <li><a routerLink="#contact">Contact</a></li>
        <li><a class="waves-effect waves-light btn-small white teal-text" (click)="logOut()">Déconnexion</a></li>
      </ul>
    </div>
  </nav>
  
  <!-- Mobile Menu -->
  <ul class="sidenav" id="mobile-menu">
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/about">À propos</a></li>
    <li><a routerLink="/memoire">Sujets de Mémoire</a></li>
    <li><a routerLink="#contact">Contact</a></li>
    <li><a class="waves-effect waves-light btn-small white teal-text" (click)="logOut()">Déconnexion</a></li>
  </ul>
  