/* Custom styles */
.header-banner {
  padding: 50px 0;
  text-align: center;
  color: white;
}

.header-banner h1 {
  font-size: 3rem;
}

.header-banner p {
  font-size: 1.5rem;
}

/* Ensure the parallax container takes up full height */
.parallax-container {
  height: 500px; /* Adjust the height as needed */
  position: relative;
  overflow: hidden;
}

/* Style the parallax image */
.parallax {
  background-image: url('/assets/images/L-and-D-trends-Mag-min.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

/* Header Banner Styling */
.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  padding: 20px;
  border-radius: 10px;
}

.header-banner h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.header-banner p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: orchid; /* Materialize teal color #26a69a*/
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: orchid; /* Darker teal on hover #00796b*/
}

/* Style the section with the welcome message */
.section {
  padding: 4rem 0;
}

/* Style the header */
.header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

/* Style the paragraph */
.grey-text {
  color: #616161;
}

/* Style the footer */
.page-footer {
  padding: 1rem 0;
}

/* Ensure the logo in the navbar is centered */
.nav-wrapper .brand-logo {
  font-size: 2rem;
  font-weight: bold;
}

/* Ensure navbar items are visible on small screens */
@media only screen and (max-width: 992px) {
  .nav-wrapper ul {
      display: flex;
      justify-content: center;
  }
}

/* Add some margin to footer text */
.page-footer p {
  margin: 0;
}

.custom-snackbar {
  background-color: purple; /* Set background color to green green */
  color: white; /* Set text color to white for better contrast */
  border: 2px solid purple; /* Add a border  darkgreen*/
}

