<!-- Navbar -->
<nav class="nav-extended blue-grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Formationkilo pour les professionnels</a>
    <ul class="left hide-on-med-and-down">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <!--li><a (click)="logOut()">Logout</a></li-->
      <button mat-flat-button (click)="logOut()">Log out</button>
    </ul>
  </div>
</nav>

<!-- Parallax Section -->
<div class="parallax-container">
  <div class="parallax"><img src="https://source.unsplash.com/1600x900/?car,geolocation" alt="Car Geolocation"></div>
  <div class="section white">
    <div class="row container">
      <h1 class="header">Bienvenue à la formation</h1>
      <h1 class="header" style="color:brown">Pour les professionnels qui souhaitent maîtriser  et les bonnes pratiques de la sécurité avec ANGULAR 18</h1><br />
      <h2>Nous allons utiliser 2 approches: UNE APPROCHE TRADITIONNELLE avec les ngModel et une approche Moderne avec app.config.ts</h2><br />
      <h3 class="header">sur le sécurité avec <b>ANGULAR version 18//  SERVICES FIREBASE // GUARDS </b></h3><br /><br />

       
      <h3 class="header" style="color: red;">La formation ne dure que 24 heures de temps</h3>
      <p class="grey-text text-darken-3 lighten-3">Explore and manage your car's location easily with our advanced mapping tools. Use the navigation menu to access different sections of the application.</p>
    </div>
  </div>
</div>
<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
<!-- Footer -->
<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h5 class="white-text">Téléphone: 00221 77 862 72 72 -La formation se passe en ligne comme aussi en présentiel</h5>

         
        <p class="grey-text text-lighten-4">Durée de la formation: 24heures de temps.</p>
        <p class="grey-text text-lighten-4">© 2024 Dakar 2024.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    M.Parallax.init(elems);
  });
</script>
